@use "../globals" as *;
/* ページトップスライダー */
.top-parallax {
  height: 80vh;
  width: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 25vh;

  @include mq(lg) {
    margin-bottom: 30vh;
  }


  & .gsap-top-image {
    position: absolute;
    top: 80px;
    left: 0;
    height: calc(80vh - 80px);
    width: 100%;
    
    &.bg-concept {
      background: url("../../images/sp-parallax-1.jpg") no-repeat top / cover;
      
      @include mq(lg) {
        background: url("../../images/parallax-1.jpg") no-repeat top / cover;
      }
    }

    &.bg-news {
      background: url("../../images/sp-parallax-2.jpg") no-repeat top / cover;
      
      @include mq(lg) {
        background: url("../../images/parallax-2.jpg") no-repeat top / cover;
      }
    }

    &.bg-works {
      background: url("../../images/sp-parallax-3.jpg") no-repeat top / cover;
      
      @include mq(lg) {
        background: url("../../images/parallax-3.jpg") no-repeat top / cover;
      }
    }

    &.bg-inquiry {
      background: url("../../images/sp-parallax-4.jpg") no-repeat top / cover;
      
      @include mq(lg) {
        background: url("../../images/parallax-4.jpg") no-repeat top / cover;
      }
    }
  }

  & .gsap-top-title {
    color: $cWhite;
    font-size: 1.5rem;
    font-weight: normal;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
    z-index: 1;
    @include mq(lg) {
      font-size: 3rem;
    }
  
    & .char {
      display: inline-block;
    }
  }
}